apiVersion: v1
kind: Service
metadata:
  name: sonarqube-service
  namespace: devops
  labels:
    app: sonarqube
spec:
  type: NodePort
  selector:
    app: sonarqube
  ports:
  - port: 9000
    targetPort: 9000
    protocol: TCP
    name: http
    nodePort: 32000

